# Default
* @sfrede

# Directories
assets/ @fallert @jjenemann @sfrede
components/ @fallert @jjenemann @sfrede
composables/ @fallert @jjenemann @sfrede
layouts/ @fallert @jjenemann @sfrede
pages/ @fallert @jjenemann @sfrede
public/ @fallert @jjenemann @sfrede

# Files
app.vue @fallert @jjenemann @sfrede
