:where(button, button[type], input[type='button'], input[type='submit'], input[type='reset'], .btn),
:where(input[type='file'])::-webkit-file-upload-button,
:where(input[type='file'])::file-selector-button {
  --_accent: var(--gray-0);
  --_text: var(--gray-0);
  --_size: var(--font-size-2);

  --_bg-light: var(--orange-5);
  --_bg-dark: var(--orange-5);
  --_bg: var(--_bg-light);

  --_bg-gradient-light: var(--gradient-19);
  --_bg-gradient-dark: var(--gradient-19);
  --_bg-gradient: var(--_bg-gradient-light);

  --_icon-size: 2ch;
  --_icon-color: var(--_accent, var(--link));

  --_padding: var(--size-4) var(--size-10);

  align-items: center;
  background-color: var(--_bg);
  background-image: var(--_bg-gradient);
  border-radius: 0 var(--radius-5) var(--radius-5) var(--radius-5);
  color: var(--_text);
  display: inline-flex;
  font-size: var(--_size);
  font-weight: var(--font-weight-8);
  gap: var(--size-2);
  justify-content: center;
  line-height: var(--font-lineheight-0);
  margin: 0;
  padding: var(--_padding);
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  text-decoration: none;
  -webkit-touch-callout: none;
  transition: background-color 0.5s var(--ease-3) 3s;
  user-select: none;

  @media (--OSdark) {
    --_bg: var(--_bg-dark);
    --_bg: var(--_bg-gradient-dark);
  }
}

/* disabled */
:where(button[disabled], button[type][disabled], input[type='button'][disabled], input[type='submit'][disabled], input[type='reset'][disabled]) {
  --_bg: var(--gray-2);
  --_bg-gradient: ;
  --_icon-color: var(--gray-4);
  --_text: var(--gray-4);

  cursor: not-allowed;

  @media (--OSdark) {
    --_text: var(--gray-4);
  }
}

:where(button:not([disabled]:active):hover, button[type]:not([disabled]:active):hover, input[type='button']:not([disabled]:active):hover, input[type='submit']:not([disabled]:active):hover, input[type='reset']:not([disabled]:active):hover, .btn:not(:active):hover) {
  --_bg: var(--link);
  --_bg-gradient: ;

  transition-delay: 0s;
  transition-duration: 0.25s;
}

/* active */
:where(button:not([disabled]):active, button[type]:not([disabled]):active, input[type='button']:not([disabled]):active, input[type='submit']:not([disabled]):active, input[type='reset']:not([disabled]):active, .btn:active) {
  --_bg: var(--link-active);
  --_bg-gradient: ;

  transition-delay: 0s;
  transition-duration: 0.25s;
}

/* small */
:where(button.is-small, button[type].is-small, input[type='button'].is-small, input[type='submit'].is-small, input[type='reset'].is-small, .btn.is-small) {
  --_padding: var(--size-2) var(--size-7);
  --_size: var(--font-size-1);
}

/* icons */
:where(button > svg, button[type] > svg, input[type='button']
    > svg, input[type='submit'] > svg, input[type='reset'] > svg, .btn > svg) {
  block-size: var(--_icon-size);
  flex-shrink: 0;
  inline-size: var(--_icon-size);
}

:where(button > svg *, button[type] > svg *, input[type='button']
    > svg
    *, input[type='submit'] > svg *, input[type='reset'] > svg *, .btn
    > svg
    *) {
  stroke: var(--_icon-color);
  stroke-width: var(--border-size-2);
}
