@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  src: url("~/assets/fonts/WorkSans/WorkSans-VariableFont_wght.ttf") format("truetype-variations");
}

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  src: url("~/assets/fonts/WorkSans/WorkSans-Italic-VariableFont_wght.ttf") format("truetype-variations");
}
