:where(:not(:active)):focus-visible {
  outline-style: solid;
  outline-width: 3px;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--font-weight-8);
}

:where(h1) {
  font-size: var(--font-size-9);
  line-height: var(--font-lineheight-0);
}

:where(a[href]:link) {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

:where(a[href]:hover) {
  transition: background-color 300ms var(--ease-2),
    color 300ms var(--ease-2), text-decoration-color 300ms var(--ease-2);
}

:where(a[href]:active) {
  transition: background-color 300ms var(--ease-2);
}
