.prose > div {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-10);
}

.prose > div > h2 {
  font-size: var(--font-size-fluid-3);
}

.prose > div > h3 {
  font-size: var(--font-size-fluid-2);
  margin-block-start: var(--size-10);
}

.prose > div > h4 {
  font-size: var(--font-size-fluid-1);
}

.prose > div > h4 + p,
.prose > div > h4 + ul {
  margin-block-start: calc(var(--size-10) * -1);
}
