.prose {
  align-items: var(--align, normal);
  display: flex;
  flex-direction: column;
  hyphens: auto;
  row-gap: var(--size-8);
  text-align: var(--text-align, start);
}

@media (min-width: 1280px) {
  .prose {
    row-gap: var(--size-10);
  }
}

.prose > h2 {
  font-size: var(--font-size-fluid-3);
}

.prose > h3 {
  font-size: var(--font-size-fluid-2);
  margin-block-start: var(--size-8);
}

.prose > h3:first-child {
  margin-block-start: 0;
}

.prose > h4 {
  font-size: var(--font-size-fluid-1);
}

.prose > h4 + p,
.prose > h4 + ul {
  margin-block-start: calc(var(--size-8) * -1);
}

@media (min-width: 1280px) {
  .prose > h4 + p,
  .prose > h4 + ul {
    margin-block-start: calc(var(--size-10) * -1);
  }
}

.prose > p,
.prose > ul {
  font-size: var(--font-size-fluid-0);
}

.prose > p.lead {
  color: var(--link);
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-1);
}
