@import 'theme.light.css';

:where(html) {
  --scrollbar-color: var(--gray-7);

  accent-color: var(--link);
  background-color: var(--surface-1);
  caret-color: var(--link);
  color: var(--text-2);
  scrollbar-color: var(--scrollbar-color) transparent;

  @media (prefers-color-scheme: light) {
    --scrollbar-color: var(--gray-4);
  }
}

:where(h1, h2, h3, h4, h5, h6, dt) {
  color: var(--text-4);
}

:where(a[href]) {
  background-color: transparent;
  color: inherit;
  text-decoration-color: var(--link);
}

:where(a[href]:visited) {
  background-color: transparent;
  text-decoration-color: var(--link-visited);
}

:where(a[href]:hover) {
  background-color: var(--link);
  color: var(--text-1);
  text-decoration-color: transparent;
}

:where(a[href]:active) {
  background-color: var(--link-active);
  color: var(--text-1);
}

:focus-visible {
  outline-color: var(--link-active);
}
